{% extends 'base.html.twig' %}

{% block title %}Site n°{% endblock %}

{% block body %}

<h1 class="title_index">Website Title</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">URL</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <td>{{ websites.id }}</td>
            <td>{{ websites.url }}</td>
            <td>{{ status.date }}</td>
            <td>{{ status.code }}</td>
        </tr>
    </tbody>
    <tbody>
    {% for stats in status %}
         <tr class="table-primary">
            <td>{{ stats.site }}</td>
            <td>{{ stats.code }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<?php
$url = 'https://www.google.com';

print_r(get_headers($url));
?>

{% endblock %}
